{% extends "layouts/base.html.twig" %}
{% block main %}
	<header>
		{# <div id="header-img"> #}
		<div id="header-img">
			{# <img src="{{ asset('build/images/PANO_20210509_122408.jpg')}}" alt="panorama du décollage"  > #}
			{# <img src="{{ asset('build/images/DSC_0006.5d299931.jpeg')}}" alt="panorama du décollage"  > #}
		<img src="{{ asset('images/DSC_0009.jpeg')}}" alt="panorama du décollage" id="img-scale"> </div>
		<div class="up"></div>
		<div class="start"></div>
		{# </div> #}
	</header>
	<h1 id="title">
		{{ texts.title|raw }}
	</h1>
	<div id="down1"></div>
	<section id="presentation">
		{{ (texts.presention is defined)? texts.presention|raw:''  }}
	</section>
	<section class="wrapper-products">
		{% for article in articles %}
			{{ include('layouts/article.html.twig', {'article':article}) }}
		{% endfor %}

	</section>
	<div id="test"></div>
		{{ (texts.gallery is defined)? texts.gallery|raw : '' }}
	<section
		id="galerie-photos">
		{# {% for photo in photos %} pour l'instant le galerie est statique
		problème de mise en page dynamique voir en V2
		 #}
		{{ include ('pages/pictures.html.twig', {'photos': photos}) }}
		{# {% endfor %} #}
	</section>
{{ (texts.footer is defined)? texts.footer|raw :'' }}
{% endblock %}
