<div class="products article">
	<div class="left-article">
		<div class="prix-wrapper">
			{% if article.remise %}
				<div class="old-prix">
					{{ article.prix|format_currency('EUR', format_width) }}
				</div>
				<div class="remise">
					{{ article.remise }}
				</div>
				<div class="new-prix">
					{{ article.prix - ((article.prix * article.remise) / 100) }}
				</div>
			{% else %}
				<div class="prix">
					{{ article.prix|format_currency('EUR', {fraction_digit:0}) }}
				</div>
			{% endif %}
		</div>
		<div class="main-image">
			<img src="./photos/{{ article.mainPicture.url }}" alt="{{ article.mainPicture.alt }}">
		</div>

	</div>
	<div class="right-article">
		<h4 class="titre">
			{{ article.titre }}
		</h4>

		<div class="article-body">
			<div class="description">
				description:
				<p>
					{{article.description|striptags| u.truncate(100, '...')|raw}}
				</p>
			</div>
			<hr>
		</div>
		<div>
			<ul>
			{% for option in article.options %}
				<li><input type="checkbox" name="{{option.nom}}" id=""> {{ option.nom }}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="basket-action">
			<span hx-get="/retirer/{{ article.id }}"
       			hx-trigger="click"
       			hx-target="#quantity-{{ article.id }}"
			>
				<i class="fas fa-minus-square"></i>
			</span>
	
			<span id="quantity-{{ article.id }}" class="in-basket-number">
				{% if basket[article.id].number is defined %}
					{{basket[article.id].number}}
				{% else %}
					0
				{% endif %}
			</span>

			<span 
				hx-get="/ajouter/{{ article.id }}"
       			hx-trigger="click"
       			hx-target="#quantity-{{ article.id }}"
			>
				<i class="fas fa-plus-square"></i>
			</span><br>
		</div>
	</div>
</div>
